@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
._1q59bef{
  display: inline-block !important;
    margin-right: 16px !important;
    margin-left: 8px !important;
    margin-top: 4px !important;
    border-left: 1px solid #DDDDDD !important;
    height: 36px !important;
}

::-webkit-scrollbar {
  width: 0px;
}
